<h1><%= @room.name %></h1>
<form id="message_form" action="<%= room_messages_path(@room,user_id: params[:user_id]) %>" method="post">
    <%= hidden_field_tag :room_id, @room.id %>
    <%= hidden_field_tag :user_id, params[:user_id] %>
  <input type="text" name="content" placeholder="Type your message here..." required>
  <button type="submit">Send</button>

  <%# Messages %>
  <div id="messages">
    <% @room.room_messages.each do |message| %>
      <p><strong><%= message.user.first_name %>:</strong> <%= message.content %></p>
    <% end %>
  </div>
</form>
<script>
document.addEventListener("message.received", (event) => {
  const data = event.detail;
  const messagesDiv = document.getElementById("messages");
  const messageElement = document.createElement("p");
  messageElement.innerHTML = `<strong>${data.user}:</strong> ${data.content}`;
  messagesDiv.appendChild(messageElement);
});


</script>
  
  
  
  








